:root {
    --bg: #6494ed26;
    --card: #fff;
    --accent: #0b84ff
}

html,
body {
    font-family: "Vazirmatn", sans-serif;
    background: var(--bg);
    margin: 0;
    padding: 0;
    color: #222
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px
}

h1 {
    margin: 0;
    font-size: 20px
}
img{
    mix-blend-mode: multiply;
}

.controls {
    display: flex;
    gap: 8px;
    align-items: center
}



.container {
    margin: 50px auto;
    padding: 15px;
    border-radius: 30px;
}



.card {
    background: var(--card);
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 6px 18px rgba(10, 10, 20, 0.06);
    display: flex;
    flex-direction: column;
    height: 100%;
}



.title {
    font-weight: 700;
    margin-bottom: 6px
}

.desc {
    font-size: 11px;
    color: #555;
    flex: 1
}

.price {
    font-weight: 800;
    margin-top: 10px
}

.filters {
    display: flex;
    gap: 12px
}

.filter-btn {
    background: #fff;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer
}

.active {
    outline: 2px solid var(--accent)
}

.loader {
    padding: 30px;
    text-align: center;
    color: #666
}